<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.ArticleMapper">

    <update id="updateArticleInfoById">
        update article
        set title=#{title},
            content=#{content},
            cover_img=#{coverImg},
            state=#{state},
            category_id=#{categoryId},
            update_time=#{updateTime}
        where id = #{id}
    </update>


    <select id="listQuery" resultType="com.itheima.pojo.Article">
        select * from article
        <where>
            <if test="categoryId != null">category_id = #{categoryId}</if>
            <if test="state !=null and state !='' ">and state = #{state}</if>
            <if test="createId">and create_user = #{createId}</if>
        </where>

    </select>
</mapper>
